# **1. Introduction to Econometrics: Sample Survey Data Analysis Project**

***
#### **1.1 About the Project**
In an effort to add more to my Github portfolio I have decided to redo a past STATA project using Python. The Project was Sample Survey Data Analysis. I had completed the project for my Introduction to Econometrics Course at Bard College. Although, I appreciate that I was able to code in STATA, I believe that it would be much more beneficial for me to conduct this type analysis on Python; for my own personal growth and because softwares like Python and R are commonly used in the Data Analytics industry.

#### **1.2 About the Data**
The dataset was selected by my Professor. It contains demographic data from the 2018 Current Population Survey (CPS), from IPUMS. 
> *"IPUMS CPS harmonizes microdata from the monthly U.S. labor force survey, the Current Population Survey (CPS), covering the period 1962 to the present" - IPUMS.*

***

<span style="color:yellow">For more details about the data please review the codebook: "cps_codebook.txt"</span>

![Data Analysis steps](/Users/aisaiahpellecer/Desktop/ds_projects/sample_survey_data_analysis/process.png "Data Analysis Process")

***
# **2. Data Collection**
Luckily the data set was pulled from CPS and is available in the project folder. All that is left is to introduce the tools and load the dataframe.
***

## 2.1 Tools 
* Pandas 
* Matplotlib

In [13]:
import pandas as pd
import matplotlib.pyplot as plt

#### Creating dataframe

In [22]:
df = pd.read_csv("/Users/aisaiahpellecer/Desktop/ds_projects/sample_survey_data_analysis/cps.csv")
print(df)

        YEAR  SERIAL  MONTH           CPSID  ASECFLAG  ASECWTH  PERNUM  \
0       2018       2      3  20171202892400         1  1316.02       1
1       2018       4      3  20180302858200         1   824.29       1
2       2018       4      3  20180302858200         1   824.29       2
3       2018       4      3  20180302858200         1   824.29       3
4       2018       4      3  20180302858200         1   824.29       4
...      ...     ...    ...             ...       ...      ...     ...
180079  2018   92138      3               0         1   496.76       1
180080  2018   92138      3               0         1   496.76       2
180081  2018   92139      3               0         1   569.86       1
180082  2018   92139      3               0         1   569.86       2
180083  2018   92139      3               0         1   569.86       3

                CPSIDP   ASECWT  AGE  SEX  RACE  MARST   BPL  HISPAN    INCTOT
0       20171202892401  1316.02   73    1   100      6  9900       0     50202
1       20180302858201   824.29   48    1   100      1  9900       0     19201
2       20180302858202   824.29   55    2   100      1  9900       0    121684
3       20180302858205   731.67   12    1   100      6  9900       0  99999999
4       20180302858204  1106.47    6    2   200      6  9900       0  99999999
...                ...      ...  ...  ...   ...    ...   ...     ...       ...
180079               0   496.76   36    2   652      6  9900       0     24158
180080               0   543.34   32    2   652      6  9900       0     24026
180081               0   569.86   35    2   813      4  9900     401     11352
180082               0   468.71   13    2   813      6  9900     401  99999999
180083               0   531.44    5    1   813      6  9900     401  99999999

[180084 rows x 16 columns]

***
#### **Cleaning the Data**
***

In [24]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df.rename(columns={"A": "a", "B": "c"})

   a  c
0  1  4
1  2  5
2  3  6